[submodule "external/faiss"]
	path = external/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
